<style>
      a:link {
         color: black;
         background-color: transparent;
         text-decoration: none;
      }
      a:visited {
         color: black;
         background-color: transparent;
         text-decoration: none;
      }
      a:active {
         color: black;
         background-color: transparent;
      }
</style>

<section class="section is-small has-background-light pt-6 section-container">
    {{#each posts as |post|}}
    {{> blogPost}}
    {{/each}}
</section>