<form id="login-form">If you have a user, please sign in below to log in. Otherwise, please create a new user.
    <div id ="login-errors"></div>
    <div>Username: <input type="text" id="login-username" placeholder="Username"></div>
    <div>Password: <input type="text" id="login-password" placeholder="Password"></div>
    <button id="login-button">Log In</button>
</form>