<section class="section is-small has-background-light pt-6 section-container">
    <div class="card">
        <div class="card-content">
            <p class="title">
            To see more of this blog's content, please Sign Up or Log In.
            </p>
        </div>
        <footer class="card-footer">
            <p class="card-footer-item">
            <span>
                <a id='signupLink'>Sign Up</a>
            </span>
            </p>
            <p class="card-footer-item">
            <span>
                <a id="loginLink">Log In</a>
            </span>
            </p>
        </footer>
    </div>

</section>

<script src='./js/loginPage.js'></script>